.vs/CommandService/v15/.suo
.vs/
CommandService/bin/
CommandService/obj/CommandService.csproj.nuget.cache
CommandService/obj/Debug/netcoreapp2.0/CommandService.csproj.CoreCompileInputs.cache
CommandService/obj/
